@import 'theme';

.programme-list-item {
  background-color: lighten($theme-background, 10%);
  margin-bottom: 10px;
  .img-container {
    padding: 0;
  }
  .title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5pt
  }
}
